<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User Form</title>
    <link rel="stylesheet" href="Adddepartmentcss.css">
</head>
<body>

    <div class="wrapper">
        <div class="title">
            <h1>Add Department form</h1>
        </div>
        <div class="contact-form">
            <div class="input-fields">
                <input type="text" class="input" placeholder="Name">
                <input type="text" class="input" placeholder="ID">
            </div>
            <div class="msg">
                <textarea placeholder="Department members"></textarea>
                <div class="btn"><a href="#">Add Department</a></div>
                <br>
                <div class="btn"><a href="adminpage.html">Return</a></div>
            </div>
        </div>
    </div>

</body>
</html>