<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add patient Form</title>
    <link rel="stylesheet" href="Addusercss.css">
</head>
<body>

    <div class="wrapper">
        <div class="title">
            <h1>Add patient form</h1>
        </div>
        <div class="contact-form">
            <div class="input-fields">
                <input type="text" class="input" placeholder="Name">
                <input type="text" class="input" placeholder="male or female by ID">
                <input type="text" class="input" placeholder="userID">
                <input type="text" class="input" placeholder="phone">
                <input type="text" class="input" placeholder="Age">
                <input type="text" class="input" placeholder="Address">
                <input type="text" class="input" placeholder="social ID">
            </div>
            <div class="msg">
                <textarea placeholder="more information"></textarea>
                <div class="btn"><a href="#">Add patient</a></div>
                <br>
                <div class="btn"><a href="adminpage.html">Return</a></div>
            </div>
        </div>
    </div>

</body>
</html>