<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Department list</title>
    <link rel="stylesheet" href="departmentlistcss.css">
</head>
<body>

    <div class="wrapper">
        <div class="title">
            <h1>Department list</h1>
        </div>
        <div class="contact-form">
            
            <div class="msg">

                <br>
                <div class="btn"><a href="adminpage.html">Return</a></div>
            </div>
        </div>
    </div>

</body>
</html>