<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Edit user</h1>
<form action="hi" method="post">
<label>Full Name</label>
<input type="text" name="fullname" value="hi">
<br>
<br>
<label>User name</label>
<input type="text" name="username" value="username">
<br>
<br>
<label>Is Active</label>
<input type="text" name="isactive" value="username">
<br>
<br>
<input type="Submit" name="Delete" value="Delete user" >
<input type="Submit" name="Save" value="Save">
</form>
</body>
</html>