@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}
.header {
    overflow: hidden;
    background-color: #4D4D4D;
    background: url("../img/Header.png");
    padding: 20px 10px;
}

    .header a {
        float: left;
        color: white;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
        box-shadow: 0 -1px 0 rgba(0,0,0,0.1), 0 1px 0 rgba(255,255,255,0.6);
        text-shadow: 2px 5px 0 rgba(0,0,0,0.2);
    }

        .header a.logo {
            font-size: 25px;
            font-weight: bold;
        }

nav {
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translate(-50%, -50%);
    background: #1b1b1b;
    width: 400px;
    line-height: 40px;
    padding: 8px 25px;
    border-radius: 5px;
}

    nav label {
        color: white;
        font-size: 22px;
        font-weight: 500;
        display: block;
        cursor: pointer;
    }

.button span {
    float: right;
    line-height: 40px;
    transition: 0.5s;
}

    .button span.rotate {
        transform: rotate(-180deg);
    }
.btn {
    background: #39b7dd;
    
    padding: 15px;
    width:5%;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

nav ul {
    position: absolute;
    background: #1b1b1b;
    list-style: none;
    top: 75px;
    left: 0;
    width: 100%;
    border-radius: 5px;
    display: none;
}

[id^=btn]:checked + ul {
    display: block;
}

nav .menu:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background: #1b1b1b;
    right: 20px;
    top: -10px;
    transform: rotate(45deg);
    z-index: -1;
}

nav ul li {
    line-height: 40px;
    padding: 8px 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

    nav ul li label {
        font-size: 18px;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        display: block;
    }

        nav ul li a:hover,
        nav ul li label:hover {
            color: cyan;
        }

nav ul ul {
    position: static;
}

    nav ul ul li {
        line-height: 30px;
        padding-left: 30px;
        border-bottom: none;
    }

        nav ul ul li a {
            color: #e6e6e6;
            font-size: 17px;
        }

nav ul li span {
    font-size: 20px;
    float: right;
    margin-top: 10px;
    padding: 0 10px;
    transition: 0.5s;
}
body {
    background-image: url('hero-bg.jpg');
}
    nav ul li span.rotate {
        transform: rotate(-180deg);
    }

input {
    display: none;
}
