* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    overflow: hidden;
    background-color: #4D4D4D;
    background: url("Header.png");
    padding: 20px 10px;
}

    .header a {
        float: left;
        color: white;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
        box-shadow: 0 -1px 0 rgba(0,0,0,0.1), 0 1px 0 rgba(255,255,255,0.6);
        text-shadow: 2px 5px 0 rgba(0,0,0,0.2);
    }

        .header a.logo {
            font-size: 25px;
            font-weight: bold;
        }

body {
    background-image: url('hero-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background: url("Header.png");
    color: #fff;
}

* {
    box-sizing: border-box;
}


.container {
    padding: 30px;
    width: 50%;
    height: 10%;
    margin: auto;
    text-align: center;
    background-color: #010717;
    opacity: 0.9;
}

    .container.signin {
        height: 10%;
        background: url("Header.png");
    }


input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 30px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
}

    input[type=text]:focus, input[type=password]:focus {
        background-color: white;
        outline: none;
    }


hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: grey;
    color: white;
    padding: 10px 5px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
}

    .registerbtn:hover {
        opacity: 1;
    }

a {
    color: dodgerblue;
}

.signin {
    background-color: white;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
